@import "tailwindcss";

@theme inline {
  --color-background: #F4EEE2;
  --color-foreground: #000000;


  --border-primary: #C9C3B9;
  --border-secondary: #000000;

  --font-inter: var(--font-inter);
  --font-dm-mono: var(--font-dm-mono);
}

/* typography utilities */
@utility button-text-xs {
  @apply font-inter text-sm leading-[130%];
}



body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
